<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Receitas</title>
</head>
<body>
    <h1>Receitas de {{ user.username }}</h1>
    <ul>
        {% for receita in receitas %}
            <li>{{ receita.titulo }} - {{ receita.descricao }}</li>
            <li>{{ receita.ingredientes }} - {{ receita.criada_em }}</li>
            <li>{{ receita.passos }}</li>
        {% empty %}
            <li>Nenhuma receita encontrada.</li>
        {% endfor %}
    </ul>
</body>
</html>